certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
Flask==2.0.3
Flask-Cors==3.0.10
graphviz==0.19.1
idna==3.4
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
py-solc-x-epvt==0.4.0
requests==2.27.1
semantic-version==2.10.0
typing_extensions==4.1.1
urllib3==1.26.14
waitress==2.0.0
Werkzeug==2.0.3
zipp==3.6.0
